<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140735225773-h4umgn0rl2q9s8c83qsvbhvhvk6vfrqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140735225773-h4umgn0rl2q9s8c83qsvbhvhvk6vfrqq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>140735225773-hrp2gqf8a4gblniflr3kidkt2jqh50vl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2UbVN0PUQRwJ_oK7uqysG2nOeLkWUb9U</string>
	<key>GCM_SENDER_ID</key>
	<string>140735225773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutterflow.mapstracking</string>
	<key>PROJECT_ID</key>
	<string>maps-tracking-fbnri9</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-tracking-fbnri9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140735225773:ios:fd6052b955f2ac853f8b24</string>
</dict>
</plist>